.container{
    height: 100vh;
    background-image: url(./assets/magic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    margin: auto;
}
.card-img-bottom {
    width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
