.container{
    background-image: url(./assets/magicbook.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.card {
    margin: auto;
    position: absolute;
    top: 50px;
    left: 300px;
}

.card-img-bottom {
        height: 30vw;
        object-fit: cover;
}
